<h3>1. 사용자 정보</h3>
<ul>
 <li> 리스트 : <a href="/user/list">/user/list</a></li>
 <li> 조회 : <a href="/user/1">/user/1</a></li>
 <li> 등록 : /user/add method=POST </li>
 <li> 수정 : /user/1 method=PUT </li>
</ul>


<h3>2. 아이 정보</h3>
<ul>
    <li> 리스트 : <a href="/child/list?userId=1">/child/list?userId=1</a></li>
    <li> 조회 : <a href="/child/1">/child/1</a></li>
    <li> 등록 : /child/add method=POST </li>
    <li> 수정 : /child/1 method=PUT </li>
    <li> 삭제 : /child/1 method=DELETE </li>

</ul>
<pre>child 필수 값 //
    child.setUserId(Long.parseLong("2"));
    child.setName("나우리");
    child.setImageUrl("");
    child.setSex("F");
    child.setBirthdayDate("20120909");
    </pre>